@page "/Login"
@layout NoLayout

@if (!Loaded)
{
    <div class="my-mockup-layout">
        <TelerikLoaderContainer LoaderPosition="@LoaderPosition.End"></TelerikLoaderContainer>
    </div>
}
else
{
    <div class="center">
        <TelerikCard Width="380px">
            <CardHeader>
                <CardTitle><h2>BankService</h2></CardTitle>
            </CardHeader>

            <CardImage Src="images/default/main.jpg"></CardImage>

            <CardBody>
                <TelerikGridLayout ColumnSpacing="10px">
                    <GridLayoutColumns>
                        <GridLayoutColumn Width="Auto"></GridLayoutColumn>
                    </GridLayoutColumns>
                    <GridLayoutRows>
                        <GridLayoutRow Height="50px"></GridLayoutRow>
                        <GridLayoutRow Height="50px"></GridLayoutRow>
                    </GridLayoutRows>
                    <GridLayoutItems>
                        <GridLayoutItem Row="1" Column="1">
                            <TelerikTextBox @bind-Value="@Id" Name="email" Id="email" Placeholder="Enter Your User ID" FillMode="flat" />
                        </GridLayoutItem>
                        <GridLayoutItem Row="2" Column="1">
                            <span @onkeydown="@Enter">
                                <TelerikTextBox @bind-Value="@Pw" Password="true" Placeholder="Enter Your Password" FillMode="flat" />
                            </span>
                        </GridLayoutItem>
                    </GridLayoutItems>
                </TelerikGridLayout>
            </CardBody>
            <CardActions Layout="@CardActionsLayout.Stretch">
                <TelerikButton Title="사용자 로그인" Class="full-width"
                               Icon="SvgIcon.Login"
                               FillMode="@(ThemeConstants.Button.FillMode.Solid)"
                               ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)"
                               OnClick="@EnterLogin">
                    &nbsp; 로그인
                </TelerikButton>
@*                 <label class="text-center">
                    <TelerikCheckBox @bind-Value="@LoginIsChecked"></TelerikCheckBox>&nbsp; login Id 기억하기.
                </label>
 *@         </CardActions>
        </TelerikCard>
    </div>
}

@code {
    [CascadingParameter] public DialogFactory Dialogs { get; set; }

    private bool Loaded { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await LoadData();

        Loaded = true;
    }

    private async Task LoadData()
    {
        try
        {

        }
        catch (Exception ex)
        {
            Logs.Exception(ex);            
        }
    }

    private string Id { get; set; }
    private string Pw { get; set; }
    private async Task EnterLogin()
    {
        try
        {
            if (string.IsNullOrEmpty(Id))
            {
                await Dialogs.AlertAsync("아이디를 입력해 주세요.", "BankService");
                return;
            }
            if (string.IsNullOrEmpty(Pw))
            {
                await Dialogs.AlertAsync("비밀번호를 입력해 주세요.", "BankService");
                return;
            }

            string login = AuthService.Login(Id, Pw);

            if (login.Equals("ok"))
            {
                await sessionStorage.SetItemAsync<string>("userId", Id);
                navManager.NavigateTo("/main", true);
            }
            else
            {
                await Dialogs.AlertAsync("아이디와 비밀번호가 일치하지 않습니다.", "BankService");
                return;
            }
        }
        catch (Exception ex)
        {
            Logs.Exception(ex);
        }
    }

    public void Enter(KeyboardEventArgs e)
    {
        try
        {
            if (e.Code == "Enter" || e.Code == "NumpadEnter")
            {
                EnterLogin();
            }
        }
        catch (Exception ex)
        {
            Logs.Exception(ex);
        }
    }
}
