
@if (!Loaded)
{
    <div class="my-mockup-layout">
        <TelerikLoaderContainer LoaderPosition="@LoaderPosition.End"></TelerikLoaderContainer>
    </div>
}
else
{
    <TelerikAppBar ThemeColor="@ThemeConstants.AppBar.ThemeColor.Primary">
        
        <AppBarSection>
            <a href="/main"><span class="header-title"><img src="/images/default/Logo.png" /></span></a>
        </AppBarSection>

        <AppBarSpacer />
        @if (!string.IsNullOrEmpty(userId))
        {
            <AppBarSection>
                <TelerikButton OnClick="Config"
                                Size="@ThemeConstants.Button.Size.Large"
                                FillMode="@(ThemeConstants.Button.FillMode.Flat)">
                    <img src="images/button/20/gear-filled.png" />
                </TelerikButton>
            </AppBarSection>

            <AppBarSection>
                <UserInfo userId="@userId" callPoint="header"></UserInfo>
            </AppBarSection>
        }
       
    </TelerikAppBar>
}


@code {
    private string userId { get; set; }
    private bool Loaded { get; set; }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            userId = await sessionStorage.GetItemAsync<string>("userId");
        }
        catch
        {

        }

        await LoadData();

        Loaded = true;
    }

    private async Task LoadData()
    {
        try
        {

        }
        catch (Exception ex)
        {
            Logs.Exception(ex);
        }
    }

    private async Task Config()
    {
        try
        {
            navManager.NavigateTo("/Admin/config", true);
        }
        catch(Exception ex)
        {
            Logs.Exception(ex);
        }
    }
}
